/*
 * Fox by FreeHTML5.co
 * Twitter: https://twitter.com/fh5co
 * Facebook: https://fb.com/fh5co
 * URL: https://freehtml5.co
 */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
}
body .bg-img {
  background-repeat: no-repeat;
  background-position: center;
  /* padding-bottom: 100px; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  position: relative;
  backface-visibility: hidden;
  animation: slidebg 22s infinite;
  animation-timing-function: ease-in-out;
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/banner2.jpg'); */
}
 @keyframes slidebg{
  0% {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/banner3.jpg');
  }
  25% {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/banner4.jpg');
  }
  50% {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/banner5.jpg');
  }
  75% { 
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/banner6.jpg');
  }
  100% {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/banner2.jpg');
  }
} 

body nav {
  /* background-color : transparent; */
}
.navbar-dark{
  background: #000;
}
body nav .navbar-nav a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
body nav .navbar-nav a:hover {
  color: #ff8013 !important;
}
body nav .navbar-nav .btn-danger {
  background: #ff8013;
  border-radius: 0;
  animation: btnbg 20s infinite;
  animation-timing-function: ease-in-out;
}
@keyframes btnbg{
  0% {
    background: #fff;
  }
  25% {
    background: skyblue;
  }
  50% {
    background: #e46d05;
  }
  75% { 
    background:  #ff8013;
  }
  100% {
    background: rgb(255, 251, 0);
  }
} 
body nav .navbar-nav .btn-danger:hover {
  background: #df6700;
  border-color: #df6700;
}
a, a:hover {
  color: #ff8013;
}
.mr-auto img{
  height: 50px;
  width: auto;
}
 .round-frame {
  position: relative;
  width: 200px;
  height: 197px;
  border: solid 4px #df6700;
  border-radius: 200px;
  margin-top: 100px;
  margin-left: 100px;
  background-color: #fff;
  box-sizing: content-box;

}
@media (max-width: 767px) {
  .round-frame{
    margin-top: 50px;
    margin-left: 40px ;
  }
} 
.round-frame img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 200px;
  border: solid 4px #df6700;67283472+gjcreativity@users.noreply.github.com
  background-color: #fff;https://github.com/gjcreativity/gjcreativity.github.io.git

}
e
.fh5co-banner-text-box {
  position: relative;
  max-height: 120px;
  display: inline-block;
  margin-top: 250px;
}
.fh5co-banner-text-box .quote-box {
  max-width: 480px;
  padding: 20px 0;
}
.fh5co-banner-text-box .quote-box h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 40px;
}
.fh5co-banner-text-box .quote-box h2 span {
  color: #fff;
  font-size: 34px;
}
.fh5co-banner-text-box .quote-box::before {
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  left: 0;
  top: 0;
  background: url("../images/right-quote.png");
  background-repeat: no-repeat;
}
.fh5co-banner-text-box .quote-box::after {
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  right: 0;
  bottom: 0;
  background: url("../images/left-quote.png");
  background-repeat: no-repeat;
}
.fh5co-banner-text-box a {
  color: #fff;
  border-color: #ff8013;
  border-radius: 30px;
  min-width: 150px;
  margin-left: 50px;
}
.fh5co-banner-text-box a:hover {
  background: transparent;
  border-color: gray;
  color: #ff8013;
}
.text-about {
  margin-bottom: 50px;
}
.fh5co-network, .fh5co-about-us {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/about-bg.jpg");
  width: 100%;
  max-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding: 50px 0;
  padding-top: 30px;
}
  @media (max-width: 750px) {
  .fh5co-network, .fh5co-about-us {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/about-bg.jpg");
    width: 100%;
    max-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 50px 0;
    padding-top: 30px;
  }
}
/* .fh5co-network figure, .fh5co-about-us figure {
  margin-top: -70px !important;
} */
.fh5co-network h2, .fh5co-about-us h2 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 0;
}
.fh5co-network h4, .fh5co-about-us h4, .fh5co-network h5, .fh5co-about-us h5, .fh5co-network p, .fh5co-about-us p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.fh5co-network hr, .fh5co-about-us hr {
  border-color: #ff8013;
  border-width: 5px;
  max-width: 100px;
  margin-left: 0;
  border-radius: 5px;
}
.fh5co-network figure, .fh5co-about-us figure {
  text-align: center;
}

.fh5co-about-us {
  background: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.fh5co-about-us p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.fh5co-about-us hr {
  border-color: #fff;
  margin-left: 50px;
  margin-top: 5px;
}
.fh5co-about-us a {
  color: #fff !important;
  border-color: #4e2b0d;
  border-radius: 0;
  min-width: 150px;
}
.fh5co-about-us a:hover {
  background: transparent;
  border-color: gray;
  color: #7e7e7e;
}

.fh5co-content-box {
  background: #464646;
  padding-bottom: 100px;
  margin-top: 100px;
}
.fh5co-content-box .pr-0 img {
  margin-top: -128px;
}
.fh5co-content-box img {
  width: 100%;
}
.fh5co-content-box .card-img-overlay {
  color: #fff;
  text-align: center;
  top: 35%;
}
.fh5co-content-box .trainers {
  position: relative;
  padding: 50px 0;
  margin: 70px 0;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/customers.jpg");
  background-size: 100%;
  background-color: #ff8013;
  background-repeat: no-repeat;
  background-position: center;
}
/* .fh5co-content-box .trainers .bg-50 {
  background: rgba(0, 0, 0, 0.3);
} */
.fh5co-content-box .trainers .card {
  border: none;
  background: transparent;
}
.fh5co-content-box .trainers .card img {
  max-width: 250px;
  margin: 0 auto;
  max-height: 250px;
}
.fh5co-content-box .trainers .card .card-body {
  background: #fff;
  border-radius: 15px;
  padding: 30px 20px;
  margin-top: 30px;
  padding-bottom: 50px;
}
.fh5co-content-box .trainers .card .card-body::before {
  content: "";
  position: absolute;
  border: 20px solid #fff;
  border-color: transparent transparent #fff transparent;
  margin-top: -70px;
  text-align: center;
  margin-left: -15px;
}
.fh5co-content-box .trainers .quote-box2 {
  color: #fff;
  max-width: 250px;
  position: relative;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}
.fh5co-content-box .trainers .quote-box2::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  top: -10px;
  background: url("../images/right-quote-white.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fh5co-content-box .trainers .quote-box2::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("../images/left-quote-white.png");
  background-repeat: no-repeat;
  right: 0;
  bottom: -10px;
  background-size: 100% 100%;
}
.fh5co-content-box .trainers::before, .fh5co-content-box .trainers::after {
  content: "";
  position: absolute;
  border: 5px solid #ff8013;
  width: 100%;
  top: -10px;
} 
.fh5co-content-box .trainers::before {
  bottom: -10px;
  top: auto;
}
.fh5co-content-box .gallery .card {
  border: none;
  background: transparent;
}
.fh5co-content-box .gallery .card img {
  border-radius: 0;
  max-height: 580px;
}
.fh5co-content-box .gallery .card .card-body {
  background: #ff8013;
}
.fh5co-content-box .gallery .card .card-body h4 {
  color: #fff;
}
.fh5co-content-box .gallery .card .card-body p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.small-image {
  width: 320px;
  height: auto;
  /* margin-left: 100px; */
  transition: 0.5s;
}
.small-image:hover {
  box-shadow: rgb(0, 0, 0) 3px 4px 20px;
}

/*----------------------
 FEATURE STYLE
-----------------------*/
#feature {
  background-color: #fff;
  padding-top: 100px;
}
.feature-block h4{
  text-transform: capitalize;
}
.feature-icon-block{
  font-size: 40px;
  width: 100px;
  height: 100px;
  background:#eee;
  color: #ff8013;
  text-align: center;
  margin: 0 auto;
  border-radius: 100%;
  padding-top: 15px;
  /* -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition:all .3s ease 0s ; */
  
}

.feature-block:hover .feature-icon-block{
   background:#ff8013;
  color: #fff;
}
/* ----------- 9. Portfolio area Starts --------*/
.portfolio {
  width: 100%;
}

.portfolio-section {
  padding-top: 100px;
  background-color: #fff;
}
/* .portfolio-container {
  width: 25px;
} */
.portfolio-image {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.porfolio-line {
  width:100px;
  height: 5px;
  border-radius: 50px;
  background-color: #ff8013;
}
.img-fluid {
  opacity: 1;
  width: 100%;
  height: auto;
 }
 .img-fluid:hover {
  opacity: 0.7;
}
.portfolio-text {
  width: 100%;
  height: 100px;
  background: #f3f2f2;
  text-align: center;
  padding-top: 20px;
}
/* ----------- 9. Portfolio area ends --------*/


footer {
  background: #101011;
  color: #fff;
}
footer .footer1 {
  padding-top: 10px;
}
footer .footer1 p {
  margin-top: 30px;
}
footer .footer2 h4 {
  color: #ff8013;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 20px auto;
}
footer .footer2 .form-box {
  background: #fff;
  padding: 20px 30px;
  margin-top: -30px;
}
footer .footer2 input[type='text'], footer .footer2 input[type='email'] {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #000;
}
footer .footer2 input[type='text']:focus, footer .footer2 input[type='email']:focus {
  box-shadow: none;
  border-color: #ff8013;
}
footer .footer2 .btn {
  min-width: 150px;
  border-radius: 0;
}
.btn-send {
    border-radius: 20px !important; 
    border: solid 1px #fff !important;
    transition: 0.5s;
}
  .btn-send:hover {
    background-color: #ff8013 !important;
    border: none;
}
footer .footer2 ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #262626;
}
footer .footer2 ::-moz-placeholder {
  /* Firefox 19+ */
  color: #262626;
}
footer .footer2 :-ms-input-placeholder {
  /* IE 10+ */
  color: #262626;
}
footer .footer2 :-moz-placeholder {
  /* Firefox 18- */
  color: #262626;
}
footer .footer3 {
  padding-top: 180px;
}
footer .footer3 a {
  background: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;
}
footer .footer3 a:hover {
  background: #ff8013;
}
footer .footer3 .nav-item li {
  margin: 0 5px;
}
footer .footer3 .nav-item li:hover {
  width: 70px;
}
footer .table td, footer .table th {
  border: none;
}

footer::before {
  content: "";
  position: absolute;
  border: 3px solid #ff8013;
  width: 100%;
  left: 0;
}

@media (max-width: 1199px) {
  .fh5co-content-box .pr-0 img {
    margin-top: -107px;
  }
}
@media (max-width: 991px) {
  .fh5co-content-box .pr-0 img {
    margin-top: -78px;
  }
  .fh5co-content-box .card-img-overlay {
    top: 20%;
  }
}
@media (max-width: 767px) {
  body nav .navbar-nav {
    margin-left: 0 !important;
    max-width: 50px;
  }

  .fh5co-network figure, .fh5co-about-us figure {
    margin-top: 0 !important;
  }

  .fh5co-content-box .pr-0 img {
    margin: 20px auto;
  }
  .fh5co-content-box .col-md-5 {
    padding: 0 !important;
  }
  .fh5co-content-box .col-md-7 {
    padding: 0 !important;
  }

  .gallery .card {
    margin-bottom: 25px;
  }

  .footer1 {
    min-height: 150px;
  }

  .footer2 .form-box {
    margin-top: 0 !important;
  }
}
